@model DomainObject.Race
@{
    ViewBag.Title = "Create Race";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Race</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new{ @class = "raceName" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distance, new{ @class = "distance" })
                @Html.ValidationMessageFor(model => model.Distance)
            </div>
        </div>

        <div class="form-group">
            <div id="create" class="col-md-offset-2 col-md-10">
                <input type="submit" name="action" value="Create" id ="createRace" class="btn btn-default" />
            </div>
        </div>

        @if (Model != null && Html.ViewData.ModelState.IsValid)
        {
            <div class="form-group" style="margin-left:8%; font-size:14pt">
                @Html.ActionLink("+ Add Car", "CreateCar", new { controller = "Admin", area = "Admin", id = Model.RaceID })
            </div>
            
            <div>
                @if (Model.Cars != null)
                {
                    <div id="dialogCreateRace"></div>
                    foreach (var item in Model.Cars)
                    {
                        <table class="table">
                            <tr class="row">
                                <td class ="col-lg-1" style="background-color:blue; color:white; font-size:14pt">
                                    @Html.DisplayFor(itemModel => item.NameCar)
                                </td >
                                <td class="col-lg-1" style="background-color:blue">
                                    <input type="button" class="DetailButton" value="Details" />
                                    <input type="button" class="EditButton" value="Edit" />
                                    <input type="hidden" class="carId" value="@Html.DisplayFor(itemModel => item.CarID)" />
                                    
                                </td>
                                <td class="col-lg-10" style="background-color:grey">
                                    <div style="background-color:orange; width:100%; position:relative;
                                                color:white; font-size:14pt; text-align:left">
                                        Distance:
                                        @Html.DisplayFor(itemModel => item.Distance) km
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="details" style="display: none">

                        </div>
                    }
                }
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="action" value="Start Race" class="btn btn-default" />
            </div>
        </div>
    </div>
    
    @section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")

    <script>
        $(document).ready(function () {
            $(".DetailButton").click(function () {
                var carId = $(this).siblings('.carId').val();
                var $details = $(this).parents('table').next();
                $.post('@Url.Action("DetailsCar", "Admin", new {Area = "Admin"})', { carID: carId }, function (data) {
                    $details.html(data);
                    $details.toggle(1000);
                });  
            });
        });

        $(document).ready(function () {
            $("#dialogCreateRace").dialog({
                autoOpen: false,
                hide: "puff",
                show: "slide",
                bgiframe: true,
                width: 'auto',
                height: 'auto',
                modal: true,
                buttons: [
                    {
                        text: "Close",
                        click: function () {
                            $(this).dialog("close");
                        }
                    },
                     {
                         text: "Update",
                         click: function () {
                             $.post('@Url.Action("Edit", "Admin", new {Area = "Admin"})',
                                 {
                                     CarId: data.CarID,
                                     NameCar: data.NameCar,
                                     Speed: data.Speed,
                                     Distance: data.Distance,
                                     DeltaAcceleration: data.DeltaAcceleration,
                                     AccelerationInterval: data.AccelerationInterval,
                                     DurationOfAcceleration: data.DurationOfAcceleration
                                 });
                         }
                     }
                ]
            });
            $(".EditButton").click(function () {
                var carId = $(this).siblings('.carId').val();
                var $details = $(this).parents('table').next();
                $.get('@Url.Action("Edit", "Admin", new {Area = "Admin"})', { carID: carId }, function (data) {
                    $("#dialogCreateRace").html(data);
                    $("#dialogCreateRace").dialog("open");
                });
            });
        });
    </script>
}

}

