@model DomainObject.Car

@{
    ViewBag.Title = "Edit Car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Car</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ActionLink("Back", "ListOfRaces", new { controller = "Admin", area = "Admin" })
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NameCar):
        </dt>
        <dd>
            @Html.EditorFor(model => model.NameCar)
            @Html.ValidationMessageFor(model => model.NameCar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speed):
        </dt>
        <dd>
            @Html.EditorFor(model => model.Speed)
            @Html.ValidationMessageFor(model => model.Speed)
        </dd>

        @* ----ДЛЯ БУДУЩЕ МОДИФИКАЦИИ----- *@

        @*<dt>
            @Html.DisplayNameFor(model => model.DeltaAcceleration):
        </dt>
        <dd>
            @Html.EditorFor(model => model.DeltaAcceleration)
            @Html.ValidationMessageFor(model => model.DeltaAcceleration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccelerationInterval):
        </dt>
        <dd>
            @Html.EditorFor(model => model.AccelerationInterval)
            @Html.ValidationMessageFor(model => model.AccelerationInterval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DurationOfAcceleration):
        </dt>
        <dd>
            @Html.EditorFor(model => model.DurationOfAcceleration)
            @Html.ValidationMessageFor(model => model.DurationOfAcceleration)
        </dd>*@

    </dl>
    @Html.HiddenFor(model => model.CarID)
    @Html.HiddenFor(model => model.Distance)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}
