@model DomainObject.Race


@using(Html.BeginForm())
{
<script>
    function show()
    {
        alert("asdasdas");
    }
</script>
   
<input type="button" onclick="show" />

if (Model.Cars != null)
{
    foreach (var item in Model.Cars)
    {
        <table class="table">
            <tr class="row">
                <td class="col-lg-2" style="background-color:blue; color:white; font-size:14pt">
                    <input type="button" value="@Html.DisplayFor(itemModel => item.NameCar)" onclick="showDetails" />
                    @*<div id="hide" onclick="showDetails">
                        @Html.DisplayFor(itemModel => item.NameCar)
                    </div>*@
                </td>
                <td class="col-lg-10" style="background-color:grey">
                    <div style="background-color:orange; width:100%; position:relative;
                                                color:white; font-size:14pt; text-align:left">
                        Distance:
                        @Html.DisplayFor(itemModel => item.Distance) km
                    </div>
                </td>
            </tr>
        </table>
        <div id="details">
            @Html.Partial("DetailsCar", item)
        </div>
    }
}
 @Scripts.Render("~/bundles/jquery")
}