@model DomainObject.Race



@if (Model.Cars != null)
{
    foreach (var item in Model.Cars)
    {
        <table class="table">
            <tr class="row">

                <td class="carName" class="col-lg-2" style="background-color:blue; color:white; font-size:14pt">
                    <input type="button" class="DetailButton" value="@Html.DisplayFor(itemModel => item.NameCar)" />
                    @*<div id="hide" onclick="showDetails">
                            @Html.DisplayFor(itemModel => item.NameCar)
                        </div>*@
                </td>
                <td class="col-lg-10" style="background-color:grey">
                    <div style="background-color:orange; width:100%; position:relative;
                                                color:white; font-size:14pt; text-align:left">
                        Distance:
                        @Html.DisplayFor(itemModel => item.Distance) km
                    </div>
                </td>
            </tr>
        </table>
        <div class="details">
            @Html.Partial("DetailsCar", item)
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery-ui")
    <script>
        $(document).ready(function () {
            alert("ddddddd");
        })
        $(document).on('click', '.DetailButton', function () {
            $(this).closest('.carName').find('.details').toggle();
        });
    </script>
}