@model IEnumerable<DomainObject.Race>

@foreach (var item in Model)
{
    <div>
        <table class="table">
            <tr>
                <td>
                    Race:
                    @Html.DisplayFor(itemModel => item.Name)<br />
                    Distance:
                    @Html.DisplayFor(itemModel => item.Distance) km
                </td>
            </tr>
            <tr>
                <td>
                    Cars:
                    @if (item.Cars != null)
                    {
                        foreach (var car in item.Cars)
                        {
                            <table class="table">
                                <tr class="row">
                                    <td class="col-lg-1" style="background-color:black; color:white; font-size:14pt">
                                        @Html.DisplayFor(itemModel => car.NameCar)
                                    </td>
                                    <td class="col-lg-3" style="background-color:black; width:auto">
                                        <input type="button" class="DetailButton" style="background-color:green; color:white; font-weight:bold; border-radius:10px; border-color: green" value="Details" />
                                        <input type="button" class="EditButton" style="background-color: orange; color: white; font-weight: bold; border-radius: 10px; border-color: orange" value="Edit" />
                                        <input type="button" class="DeleteButton" style="background-color: red; color: white; font-weight: bold; border-radius: 10px; border-color: red" value="Delete" />
                                        <input type="hidden" class="carId" style="visibility:" value="@Html.DisplayFor(itemModel => car.CarID)" />
                                    </td>
                                    <td class="col-lg-8" style="background-color:grey">
                                        <div style="background-color:limegreen; width:100%; position:relative;
                                                color:white; font-size:14pt; text-align:left">
                                            Distance:
                                            @Html.DisplayFor(itemModel => car.Distance) km
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="details" style="display: none"></div>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
}
